@model HomeViewModel
<div class="card">
	<div class="card-header">
		<h1 class="h4 m-0 p-0">IO-Lab</h1>
	</div>
	<div class="card-body">
		<h2 class="h5 mb-0">Root</h2>
		<p>
			<a href="?Path=@Model.Root.FullName">@Model.Root.FullName</a>
		</p>
		<h2 class="h5 mb-0">Application-root</h2>
		<p>
			<a href="?Path=@Model.ApplicationRoot.FullName">@Model.ApplicationRoot.FullName</a>
		</p>
		@if(!string.IsNullOrWhiteSpace(Model.Path))
		{
			<h2 class="h5 mb-0">Path</h2>
			<p>
				<a href="?Path=@Model.Path">@Model.Path</a>
			</p>
			@if(Model.Exception == null)
			{
				@if(Model.Parent != null)
				{
					<h2 class="h5 mb-0">Parent</h2>
					<p>
						<a href="?Path=@Model.Parent.FullName">@Model.Parent.FullName</a>
					</p>
				}
				@if(Model.Content == null)
				{
					@if(Model.Children.Any())
					{
						<h2 class="h5 mb-0">Children</h2>
						<ul>
							@foreach(var child in Model.Children)
							{
								<li>
									<a href="?Path=@child.FullName">@child.Name</a>
								</li>
							}
						</ul>
					}
					else
					{
						<div class="alert alert-warning">
							<i>No directories or files at this path.</i>
						</div>
					}
				}
				else
				{
					<h2 class="h5">File-content</h2>
					<pre class="bg-light p-1">@Model.Content</pre>
				}
			}
			else
			{
				<div class="alert alert-danger">
					<h2 class="h5">Exception</h2>
					<p>@Model.Exception</p>
				</div>
			}
		}
	</div>
</div>